body {
    margin-left: 60px; /* Ajusta este valor según el espacio deseado alrededor de todo el contenido */
    margin-right : 60px;
}


#columnas1{
    column-count:2;
    column-gap:40px;
    column-rule:4px none gray;
    list-style: none;

    break-inside: avoid; /* Evita que el contenido se divida entre columnas */
}


#columnas2 , .course-tabs__container{
    column-count:2;
    column-gap:80px;
    column-rule:4px Solid gray;

    list-style: none;
    break-inside: avoid; /* Evita que el contenido se divida entre columnas */
}
