

.header { /*Hacer que el header permanesca en la parte superior*/
    position:fixed;
    top: 0;          /* Lo coloca en la parte superior */
    left: 0;         /* Lo alinea al borde izquierdo */
    width: 100%; 
}

main {
    margin-top : 7%;
    margin-left : 40px;
    margin-right : 40px;
}

#columnas1{
    column-count:2;
    column-gap:40px;
    column-rule:4px none gray;
    list-style: none;

    break-inside: avoid; /* Evita que el contenido se divida entre columnas */
}


#columnas2 , .course-tabs__container{
    column-count:2;
    column-gap:80px;
    column-rule:4px Solid gray;

    list-style: none;
    break-inside: avoid; /* Evita que el contenido se divida entre columnas */
}
